[submodule "project/discord-rpc-custom"]
	path = project/discord-rpc
	url = https://github.com/NeeEoo/discord-rpc.git
[submodule "project/rapidjson"]
	path = project/rapidjson
	url = https://github.com/Tencent/rapidjson.git
